@use '../../../assets/base';

.book-card {
  background-color: base.$light-purple-back;
  font-family: base.$main-font;
  border: #dbdbe5 1px solid;
  border-radius: 7px;
  display: flex;
  width: 22%;

  img {
    width: 40%;
    padding: 0.4rem 0.4rem 0.4rem 0.4rem;
    border: none;
    border-radius: 10%;
  }

  .book-information {
    margin-left: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .book-title {
    font-size: 1rem;
    margin-bottom: 0;
    color: base.$blue-title-color;
  }

  .book-author {
    font-size: 0.8rem;
    margin-top: 0.5rem;
    color: base.$blue-title-color-opacity;
    font-weight: bold;
  }

  .book-price {
    color: base.$purple-text;
  }
}