@use "./../../../assets/base";

.cartItem {
  width: 50%;
  display: flex;
  background: base.$light-purple-back;
  border: #dbdbe5 2px solid;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 10px;
  margin: 1rem 0;
  align-items: center;
  font-family: base.$main-font;

  .leftCorner {
    width: 60%;
    display: flex;
    min-width: 12rem;

    img {
      margin-right: 1rem;
    }
    
    h3 {
      margin-bottom: 0.5rem;
      color: base.$blue-title-color;
    }

    p {
      margin: 0;
      color: base.$blue-title-color-opacity;
    }
  }

  .rightCorner {
    display: flex;
    justify-content: space-evenly;
    width: 20%;
    align-items: center;

    img {
      width: 1rem;
    }

    p {
      font-weight: bold;
      color: base.$purple-text;
    }

    button {
      background-color: transparent;
      font-size: 2rem;
      cursor: pointer;
      border: none;
      display: flex;
      align-items: center;
    }
  }

  .raiseButtons {
    padding-right: 40px;
    align-items: center;
    justify-content: space-evenly;
    width: 18%;
    display: flex;
    font-size: 1rem;

    p {
      border: 2px solid #dbdbe5;
      padding: 1rem;
      border-radius: 10px;
      color: base.$blue-title-color;
    }

    button {
      background-color: transparent;
      width: 2rem;
      cursor: pointer;
      border-radius: 5px;
      height: 2rem;
      color: black;
      border: 0;
      font-size: 1rem;

      img {
        width: 1rem;
      }
    }
  }

  img {
    width: 4rem;
  }
}