@use './../../../assets/base';

.catalog-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;

  .title {
    font-family: base.$main-font;
    color: base.$blue-title-color;
  }

  .filter-block {
    padding: 0.7rem 1rem;
    overflow: visible;
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    animation: appear-from-left 1s;

    input {
      margin-right: 1rem;
      margin-left: 1rem;
      background-color: transparent;
      border: none;
      position: relative;
      border-bottom: base.$purple-text 2px solid;
      font-family: base.$main-font;
      padding: 0;
      overflow: visible;

      &:focus {
        outline: none;

        &::placeholder {
          transform: translateY(1rem);
          transition: all 0.5s;
        }
      }

    }

    h1 {
      margin: 0;
    }
  }

  @keyframes appear-from-left {
    0% {
      transform: translateX(15%);
      opacity: 0;
    }

    50% {
      opacity: 30%;
    }
  }

  .filter-wrapper {
    justify-content: flex-end;
    display: flex;
    align-items: center;
    width: 60%;

    .apply-filters {
      font-family: base.$main-font;
      background-color: transparent;
      padding: 0.1rem;
      cursor: pointer;
      border: none;
      color: base.$purple-text;
      font-size: 0.9rem;

      &:hover {
        transform: scale(1.1);
      }
    }
  }


  .hidden-element {
    display: none;
  }


  .filter-icon {
    margin-left: 2rem;
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 2rem;
    height: 1rem;

    &:hover {
      &::before {
        content: "";
        width: 2.5rem;
        height: 2.5rem;
        background-color: rgb(245, 245, 245);
        border-radius: 50%;
        position: absolute;
        top: -0.8rem;

        transition: all 0.3s ease;
        z-index: -1;
      }
    }

    span {
      background-color: base.$purple-text;
      width: 2rem;
      height: 0.15rem;
      position: absolute;
    }

    span:nth-child(1) {
      top: 5%;
    }

    span:nth-child(2) {
      top: 50%;
      width: 1.5rem;
    }

    span:nth-child(3) {
      top: 95%;
      width: 1rem;
    }
  }

}