.header-wrapper {
  width: 100%;
  margin: 0 auto;
  background-color: white;
}

.header {
  display: flex;
  padding: 0.5rem;
  align-items: center;
  justify-content: space-between;
  width: 85%;
  margin: 0 auto;
  background-color: white;
}