@use '../../../assets/base';

.navbar {
  font-family: base.$main-font;
  height: 100%;
  display: flex;
  align-items: center;

  a {
    display: block;
    width: 6rem;
    text-decoration: none;
    color: base.$purple-text;
    font-size: 1.1rem;
    text-align: center;
    padding: 0.6rem;
    border-radius: 10px;
    background-color: base.$light-purple-back;
  }

  a:hover {
    transform: scale(0.9);
  }

  ul {
    display: flex;
    list-style-type: none;
  }

  li {
    margin-right: 2rem;
  }

}
