@use "../../base";

$placeholder-color: rgba(15, 15, 131, 0.4);

.search-container {
  width: 10%;

  input {
    display: block;
    width: 100%;
    border: none;
    background-color: base.$light-purple-back;
    font-family: base.$main-font;
    font-size: 1rem;
    border-radius: 10px;
    padding: 0.6rem 1.5rem;
    outline: none;
  }
}


::placeholder {
  color: $placeholder-color;
}

